:root {
    --primary-bg-color: #FFF;
    --secondary-bg-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100vh;
    display: flex;
    flex-direction: column;
}