@font-face {
    font-family: 'Norse Bold';
    src: url('./fonts/Norse-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --primary-bg-color: #fbfafb;
    --secondary-bg-color: #000;
    --primary-font-style: 'Roboto';
    --secondary-font-style: 'Norse Bold';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100vh;
    display: flex;
    background-color: var(--primary-bg-color);
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url('./images/plant-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    color: #fff;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Norse Bold', sans-serif;
    margin-top: 30%;
    font-size: 85px;
    padding: 10px 0;
    width: 100%;
}

.logo p {
    padding-top: 20px;
}

.credits {
    margin-top: auto;
    margin-bottom: 15px;
    text-align: center;
    font-size: 13px;
}

.credits a, .credits p {
    color: #d4d4d4; 
}

main {
    flex: 2;
}